POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=strongpassword
POSTGRES_DB=kittygram
DB_HOST=db
DB_PORT=5432
SECRET_KEY=e2pxvr@&&&jb2x29-^7q79a)f8cya+l@&0b$o@jdi561umimwq
ALLOWED_HOSTS=localhost,127.0.0.1,backend
DEBUG=False